---
http_interactions:
- request:
    method: get
    uri: https://api.tradeking.com/v1/market/options/search.json?fids=bid,ask,last,strikeprice&query=strikeprice-gte:800%20AND%20put_call-eq:put&symbol=GOOGL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="key", oauth_nonce="nonce", oauth_signature="signature",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1485405787", oauth_token="token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Expire:
      - '1485424302.20197'
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '179'
    body:
      encoding: ASCII-8BIT
      string: '{ "response":{ "@id":"18b15918-abd4-4032-9427-28077aeb45dd", "elapsedtime":
        "0", "quotes":{"quote":[{"ask":"143.9","bid":"139.1","last":"165.8","strikeprice":"1000.00"},{"ask":"154.0","bid":"149.2","last":"0.0","strikeprice":"1010.00"},{"ask":"163.9","bid":"159.1","last":"0.0","strikeprice":"1020.00"},{"ask":"173.6","bid":"169.0","last":"0.0","strikeprice":"1030.00"},{"ask":"183.9","bid":"179.2","last":"0.0","strikeprice":"1040.00"},{"ask":"193.8","bid":"189.0","last":"0.0","strikeprice":"1050.00"},{"ask":"203.6","bid":"199.0","last":"0.0","strikeprice":"1060.00"},{"ask":"214.0","bid":"209.5","last":"0.0","strikeprice":"1070.00"},{"ask":"222.0","bid"[...]
- request:
    method: get
    uri: https://api.tradeking.com/v1/market/options/search.json?fids=bid,ask,last,strikeprice&query=strikeprice-gte:800%20AND%20put_call-eq:call&symbol=GOOGL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="key", oauth_nonce="nonce", oauth_signature="signature",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1485405787", oauth_token="token",
        oauth_version="1.0"
  response:
   [...]
- request:
    method: get
    uri: https://api.tradeking.com/v1/market/options/expirations.json?symbol=RUT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TxW5qj4pXFT3EYEXQdYTkSTOw3vPZ55v3VPJryvu", oauth_nonce="bkUs8M4EaJEYceu8jv1mrFZlGw6pOHmItdmO4RzmFvE",
        oauth_signature="86%2Fa3ClHJ92Ri1q1EhtyNTfEX4A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1489642744", oauth_token="eo8N5vw6suhEBRVkJiq58ZHjJ0ZaLHvmCi7mkqqx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Expire:
      - '1489660745.28421'
      X-Ratelimit-Limit:
      - '180'
      X-Ratelimit-Remaining:
      - '179'
    body:
      encoding: ASCII-8BIT
      string: '{ "response":{ "@id":"568b44ca-52c8-42df-a81c-f23f8f7ba416", "elapsedtime":
        "0", "expirationdates":{"date":["2017-03-17","2017-04-21","2017-05-19","2017-06-16","2017-09-15","2017-12-15","2018-06-15","2018-12-21","2019-12-20"]},
        "error": "Success" } }'
  recorded_at: Thu, 16 Mar 2017 05:39:05 GMT
recorded_with: VCR 3.0.3
